div.title{
    margin-bottom: 20px;
    width:1000px;
    height:40px;
    background-color: aquamarine;
    font-size:40px
    font-family: "impact";   
}

div.body{
    width:1000px;
    height:320px;
    background-color: beige;
    margin-bottom: 20px;
}

div.bar{
    width:250px;
    height:320px;
    background-color: brown;
    display: inline-block;
    margin-right: 50px;
}

div.image{
    width: 700px;
    height:320px;
    vertical-align: top;
    background-color: cadetblue;
    display: inline-block;
}
div.imageitem{
    width: 700px;
    height: 300px;
    background-color: deeppink;
    
}

div.syousai{
    width: 700px;
    height: 20px;
    background-color: darkolivegreen;
    
    
}
div.menu1{
    margin-bottom: 10px;
    width:250px;
    height:100px;
    background-color:red;
    
    
   
}
div.menu2{
    margin-bottom: 10px;
    width:250px;
    height:100px;
    background-color: blue;
    
}
div.menu3{
    margin-bottom: 20px;
    width:250px;
    height:100px;
    background-color: crimson;
    
}


div.footer{
    width:1000px;
    height:40px;
    text-align:left;
    background-color:lemonchiffon;
    
}
