div.title{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: red;
    background-color: aqua; 
}

div.h1{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: blueviolet;
    background-color: chartreuse
}
div.h2{
    font-size: 15px;
    text-align: center;
    color: black;
    
}



div.img1{
    margin-bottom: 20px;  
    text-align: center;
    
}

div.h3{
    margin-bottom: 35px;
    font-size: 20px;
    text-align: center;
    color: yellow;
    background-color: blue
}

div.img2{
    margin-bottom: 20px;
    text-align: center;
}


div.h4{
    font-size: 15px;
    text-align: center;
    color: black;
    
}

div.h5{
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color:fuchsia;
    background-color: cyan;
}